In [1]:
# Question no 1
'''A database is an organized collection of data that is stored
and accessed electronically. Databases are designed to efficiently store,
retrieve, and manage data, and they support various operations such as querying, updating, and managing the data.

SQL Databases: Best for structured data with predefined schema and require ACID compliance for transactions.
    They use SQL for data manipulation.
    
NoSQL Databases: Best for unstructured or semi-structured data with flexible schema requirements.
    They provide high scalability and are suitable for distributed data stores.'''

'A database is an organized collection of data that is stored\nand accessed electronically. Databases are designed to efficiently store,\nretrieve, and manage data, and they support various operations such as querying, updating, and managing the data.\n\nSQL Databases: Best for structured data with predefined schema and require ACID compliance for transactions.\n    They use SQL for data manipulation.\n    \nNoSQL Databases: Best for unstructured or semi-structured data with flexible schema requirements.\n    They provide high scalability and are suitable for distributed data stores.'

In [2]:
# Question no 2
'''DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language)
used to define and manage database structures, such as tables, indexes, and schemas.
DDL commands are used to create, modify, and delete these structures.

Common DDL Commands
CREATE
DROP
ALTER
TRUNCATE

CREATE: Used to create new database objects. Example: Creating a new table.
DROP: Used to delete existing database objects. Example: Dropping a table.
ALTER: Used to modify the structure of existing database objects. Example: Adding or removing a column in a table.
TRUNCATE: Used to delete all rows from a table without deleting the table itself. Example: Clearing all data in a table.'''

'DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language)\nused to define and manage database structures, such as tables, indexes, and schemas.\nDDL commands are used to create, modify, and delete these structures.\n\nCommon DDL Commands\nCREATE\nDROP\nALTER\nTRUNCATE\n\nCREATE: Used to create new database objects. Example: Creating a new table.\nDROP: Used to delete existing database objects. Example: Dropping a table.\nALTER: Used to modify the structure of existing database objects. Example: Adding or removing a column in a table.\nTRUNCATE: Used to delete all rows from a table without deleting the table itself. Example: Clearing all data in a table.'

In [3]:
# Question no 3

'''DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language)
used to manage data within database objects such as tables. DML commands allow you to insert,
update, and delete data within the database.

Common DML Commands
INSERT
UPDATE
DELETE

INSERT: Adds new rows to a table. Example: Adding a new employee record.
UPDATE: Modifies existing rows in a table. Example: Changing the salary of an existing employee.
DELETE: Removes rows from a table. Example: Deleting an employee record.'''

'DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language)\nused to manage data within database objects such as tables. DML commands allow you to insert,\nupdate, and delete data within the database.\n\nCommon DML Commands\nINSERT\nUPDATE\nDELETE\n\nINSERT: Adds new rows to a table. Example: Adding a new employee record.\nUPDATE: Modifies existing rows in a table. Example: Changing the salary of an existing employee.\nDELETE: Removes rows from a table. Example: Deleting an employee record.'

In [4]:
# Question no 4
'''DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language)
used for querying and retrieving data from a database. The primary command in DQL is SELECT,
which is used to fetch data from one or more tables.

The SELECT Command
Purpose: The SELECT command is used to retrieve data from a database.
    It allows you to specify the columns you want to retrieve, filter the data, sort it, and more.'''

'DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language)\nused for querying and retrieving data from a database. The primary command in DQL is SELECT,\nwhich is used to fetch data from one or more tables.\n\nThe SELECT Command\nPurpose: The SELECT command is used to retrieve data from a database.\n    It allows you to specify the columns you want to retrieve, filter the data, sort it, and more.'

In [5]:
# Question No 5
'''Primary Key:

A primary key is a column or a set of columns that uniquely identifies each row in a table.
It must contain unique values and cannot have NULL values.

Foreign Key:

A foreign key is a column or a set of columns in one table that refers to the primary key in another table.
It establishes a link or relationship between two tables by enforcing referential integrity between them.'''

'Primary Key:\n\nA primary key is a column or a set of columns that uniquely identifies each row in a table.\nIt must contain unique values and cannot have NULL values.\n\nForeign Key:\n\nA foreign key is a column or a set of columns in one table that refers to the primary key in another table.\nIt establishes a link or relationship between two tables by enforcing referential integrity between them.'

In [7]:
# Question No 6
'''import mysql.connector


mydb = mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password",
    database="database"
)

# Creating a cursor object using cursor() method
mycursor = mydb.cursor()

# Executing a SQL query using execute() method
mycursor.execute("SELECT * FROM test2.test_table")

# Fetching results from the executed query
result = mycursor.fetchall()

# Displaying the fetched results
for i in result:
    print(i)

# Closing the cursor and database connection
mycursor.close()
mydb.close()'''

'import mysql.connector\n\n\nmydb = mysql.connector.connect(\n    host="localhost",\n    user="abc",\n    password="password",\n    database="database"\n)\n\n# Creating a cursor object using cursor() method\nmycursor = mydb.cursor()\n\n# Executing a SQL query using execute() method\nmycursor.execute("SELECT * FROM test2.test_table")\n\n# Fetching results from the executed query\nresult = mycursor.fetchall()\n\n# Displaying the fetched results\nfor i in result:\n    print(i)\n\n# Closing the cursor and database connection\nmycursor.close()\nmydb.close()'

In [ ]:
# Question No 7
In SQL, when you write a query that includes multiple clauses,
they are generally executed in a specific order of operations to ensure correct results.
Here is the typical order of execution for SQL clauses within a single query: